body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  font-family: 'Raleway', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
form {
  margin: 2rem 0;
}
.input_container {
  box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}
.actions {
  display: flex;
  justify-content: center;
}
.littleInfos {
  font-size: 12px;
  font-style: italic;
}
.form_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.form_input input,
.form_input select {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 5px;
}
.form_input label {
  margin-bottom: 5px;
}
.form_input_file {
  display: flex;
  flex-direction: column;
}
.form_input_file img {
  max-width: 300px;
  margin-top: 1rem;
}
.inpunt__required {
  font-size: 2rem;
  color: rgb(255, 35, 35);
  font-weight: 700;
  height: 25px;
  display: inline-block;
  margin-left: 5px;
}
div p {
  display: flex;
  align-items: center;
}
.form_input label,
.form_input_file label {
  display: flex;
}
.confirmation__page {
  text-align: center;
  margin: 2rem 1rem;
}
.actions button {
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.2rem;
	background-color: #B5AC89;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
  margin: 1rem;
  color: #ffffff;
  transition: all 100ms ease-in;
}
.actions button:hover {
  background-color: #888167;
}
.actions button svg polyline {
  stroke: #ffffff;
}
.pageTwo_form .littleInfos {
  flex-direction: column;
  align-items: flex-start;
}

.list__card {
  box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list__card img {
  max-width: 300px;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,.2);
}
.list__card p strong {
  margin-right: 5px;
}
.list__card > div {
  border-right: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
  padding-right: 20px;
  padding-top: 20px;
}
/* .list__card > div:last-child {
  border: none;
  padding-right: 0px;
  padding-top: 0px;
} */
.list_col5 {
  border-top: 1px solid rgba(0,0,0,.1); 
}
.list_col5_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list__selfie {
  display: flex;
  flex-direction: column;
}
.navigation_links {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}